body{
    background: skyblue;
    position: relative;
  }
  img{
    position: absolute;
    top: 0px;
    right: 0px;
    align-items: right;
    width:225px;
    height:200px;
  }
  button{
    border: 100px;
  }